
<div class="tw-rounded main-card">
    <div class="tw-grid tw-grid-cols-24">
        <div class="tw-col-span-1 tw-bg-green tw-rounded-l card"></div>
        <div class="col-span-23 tw-py-1 tw-px-3 card tw-rounded-r">
            <div class="tw-grid tw-grid-rows-3">
                <div class="row-span-1">
                    <mat-label class="item">{{template.item}}</mat-label>
                </div>
                <div class="row-span-2">
                    <mat-label class="value">{{template.value}}</mat-label>
                </div>
            </div>
        </div>
    </div>
</div>
