<div class="value-card" [style.background-color]="template.background_color">
    <div class="tw-grid tw-grid-rows-2 tw-max-h-full" style="padding:20px">
        <div class="title-label">
            <mat-label class="title-label" [style.color]="template.font_color">{{template.title}}</mat-label>
        </div>    
        <div >
            <mat-label class="value-label" [style.color]="template.font_color">{{template.value}}</mat-label>&nbsp;
            <mat-label class="value-unit-label" [style.color]="template.font_color">{{template.unit}}</mat-label>
        </div>                           
    </div>
    
</div>