.title-label{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
}
.value-label{
    font-family: 'Caudex';
    font-style: normal;
    font-weight: 700;
    font-size: 2.275rem;
}
.value-card{
    width: 100%;
    height: 9.375rem;
    border-radius: 0.625rem;
    float: left;
}
.value-unit-label{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 0.825rem;
}