.custom-card{
    margin-right: 3%;
    border-radius: 0.625rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.parallelogram{
    transform: skew(-20deg);
  }
  
  .skew-fix{
    display:inline-block;
  }
  .button {
    background:yellow;
    display:inline-block;
    font-size:2em;
    padding:.5em 2em;
    text-decoration:none;
    border-radius: 0 50% 0 50%;
  }
  .nav-button{
    border-radius: 0px 50px 0px 50px;
    padding:.7em 2em;
    width:15rem;
    color: #FFFFFF;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
  }

  