<div style=" display: flex;
flex-flow: column;
height: 100%;">
    <div>
        <app-top-bar></app-top-bar>
    </div>
    
    <div class="grid grid-cols-24 flex-grow : 1; ">
        <div class="col-span-1">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="cols-span-23 flex-1 ">
            <div  class="grid grid-rows-7 grid-flow-col bg-slate-800 h-full">
               
                <div class="row-span-2 bg-zinc-700  h-full"> Haiiii</div>
                <div class="row-span-4 bg-zinc-800  h-full"> Haiiii</div>
                <div class="row-span-1 bg-zinc-900  h-full"> Haiiii</div>
            </div>
        </div>
    </div>
</div>
