<div class="grid grid-cols-24 header">
  <div class="row-span-1 col-span-1"
    style="background: url('../../../assets/images/logo/logo_col.svg') no-repeat center center;">
  </div>
  <div class="col-span-18 " >  Calculation</div>
  <div class="row-span-1 col-span-5  w-full items-end">
    <div class="grid grid-cols-4 w-full h-full p-4">
      
      <div class="circle-frame row-span-1 col-span-1 ">
        <img src="../../../assets/images/logo/avatar.jpg" alt="Logo" class="w-full p-1 circle-frame">
      </div>
      
      <div class="row-span-1 col-span-3 py-3">
        <mat-label class="user-name 2xl:pl-1 pl-3">Welcome, Test User</mat-label>
      </div>
    </div>
  </div>

</div>

<!-- <div class="grid grid-cols-24 header h-12">
  <div class="row-span-1 col-span-1"
    style="background: url('../../../assets/images/logo/logo_col.svg') no-repeat center center;">
  </div>
  <div class="col-span-18 bg-primary-500 flex items-center pl-4">Calculation</div>
  <div class="row-span-1 col-span-5 bg-primary-500 w-full items-center flex justify-end pr-4">
    <div class="grid grid-cols-4 w-full h-full">
      <div class="circle-frame row-span-1 col-span-1 ">
        <img src="../../../assets/images/logo/avatar.jpg" alt="Logo" class="w-full p-1 circle-frame">
      </div>
      <div class="row-span-1 col-span-3 flex items-center">
        <mat-label class="user-name 2xl:pl-1 pl-3">Welcome, Test User</mat-label>
      </div>
    </div>
  </div>
</div> -->
